button {
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
}

h1 {
    font-size: 5rem;
}

#bodyCover {
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* z-index: 0; */
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
